task/task/Schemes/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NewDataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:unsignedByte" />
							<xs:element name="First_Name" type="xs:string" />
							<xs:element name="Last_Name" type="xs:string" />
							<xs:element name="Age" type="xs:unsignedByte" />
							<xs:element name="Sexofperson" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>